<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App_ASP_PDT</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/filter/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App_ASP_PDT.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://js.arcgis.com/4.33/esri/themes/light/main.css" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    
</head>
<body class="d-flex flex-column overflow-hidden h-100">
    <header>
<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm py-0 custom-navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <!-- Left: PennDOT Branding -->
        <div class="d-flex mx-3 my-2 justify-content-between">
            <div class="d-flex  align-items-center">
                <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center text-decoration-none">
                    <img src="~/images/logo.png"
                         alt="Pennsylvania Department of Transportation"
                         class="penn-dot-logo me-2" />
                </a>
            </div>

            <!-- Center: ProjectBuilder Branding -->
            <div class="mx-auto">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/project-builder.png"
                         alt="ProjectBuilder"
                         class="project-builder-logo" />
                </a>
            </div>
        </div>

        <!-- Right: User Icon -->
        <div class="d-flex align-items-center">
            <a href="#" class="nav-link">
                <img src="~/images/user.png" 
                     alt="User Profile" 
                     class="user-icon" />
            </a>
        </div>
    </div>
</nav>


    </header>
    <div class="w-100 h-100">
        <main role="main" class="w-100 h-100">
            @RenderBody()
        </main>
    </div>   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
